<script type="text/javascript" src="/js/vendor/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/js/vendor/jquery-ui.min.js"></script>
  
<link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.12.0/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/2.12.0/tabulator.min.js"></script>

<table class="table" style="width: 100%;">
  <tr>
    <td>기준일자(YYYYMMDD)</td><td><input type='text' id='baseDate' name="baseDate"/></td><td>기준시간(hhmm)</td><td><input type='text' id='baseTime' name="baseTime"/></td>
    <td>경도(	longitude)</td><td><input type='text' id='longitude' name="longitude"/></td><td>위도(latitude)</td><td><input type='text' id='latitude' name="latitude"/></td>
  </tr>
</table>

<button id="queryBtn">조회</button>

<div id="weather-table"></div>

<script>
	
	$(document).ready(function() { 

		navigator.geolocation.getCurrentPosition((position) => {
		  //doSomething(position.coords.latitude, position.coords.longitude);
		 console.log("position.coords=>", position.coords);
		 console.log("latitude=>",position.coords.latitude);
		 console.log("longitude=>",position.coords.longitude);
		 
		 $("#latitude").val(position.coords.latitude);
		 $("#longitude").val(position.coords.longitude);		 
	  	
	 	});	
				
		const currDt = getBoundaryTime();
		$("#baseDate").val(currDt.dt);
		$("#baseTime").val(currDt.tm);
						
		$("#weather-table").tabulator({
			height:"800px",
		    columns:[
				{ title: "기준일", field : "baseDate", width:120, align:"center" },
				{ title: "기준시간", field : "baseTime", width:100, align:"center" },
				{ title: "에상일", field : "fcstDate", width:120, align:"center" },
				{ title: "예상시간", field : "fcstTime", 	width:100, align:"left" },
				{ title: "카테고리", field : "category", width:100, align:"center" },
				{ title: "카테고리명", field : "categoryName", width:300, align:"left" },
				{ title: "카테고리값", field : "fcstValue", 	width:130, align:"right" },
				//nx;
				//ny;
			],
			//responsiveLayout:"collapse",
			//responsiveLayoutCollapseStartOpen:false,
			rowClick: function(e, row) {
				var rowData = $("#weather-table").tabulator("getRowData", row );
				console.log(rowData.fcstValue);
				console.log(rowData);
			}			
		});
	
	  $("#queryBtn").on("click", function() {
		let jsonObj = {};
		jsonObj.baseDate = $("#baseDate").val();
		jsonObj.baseTime = $("#baseTime").val();
		jsonObj.latitude = $("#latitude").val();
		jsonObj.longitude = $("#longitude").val();
		
		$.ajax({
			type: "POST",
			url : "/weather/getWeatherForecast" ,			
			data: JSON.stringify(jsonObj),
			contentType : 'application/json;charset=UTF-8',
			dataType:"json"})
			.done(function(data, textStatus, xhr) {
				$("#weather-table").tabulator("setData",data.itemList);
			})
			.fail(function(xhr, textStatus, errorThrown) { })
			.always(function(datar, textStatus, xhr) {
			})
			.then(function(data, textStatus, xhr) {
			});		
	  });
	  
  }); // End of  $(document).ready(function() { 
	

function getBoundaryTime() {
	
	let rtVal = {};
	
	const pHhmm = getTime();
		
	if('0000'<= pHhmm && pHhmm < '0200') {
		rtVal.dt = getBeforeDate();
		rtVal.tm = '2300';
	}
	
	if(	'0200' <= pHhmm	&& pHhmm  < '0500') {
		rtVal.dt = getNowDate();
		rtVal.tm = '0200';		
	}
	
	if(	'0500' <= pHhmm	&& pHhmm  < '0800') {
		rtVal.dt = getNowDate();
		rtVal.tm = '0500';		
	}

	if(	'0800' <= pHhmm	&& pHhmm  < '1100') {
		rtVal.dt = getNowDate();
		rtVal.tm = '0800';		
	}

	if(	'1100' <= pHhmm	&& pHhmm  < '1400') {
		rtVal.dt = getNowDate();
		rtVal.tm = '1100';		
	}	

	if(	'1400' <= pHhmm	&& pHhmm  < '1700') {
		rtVal.dt = getNowDate();
		rtVal.tm = '1400';		
	}	

	if(	'1700' <= pHhmm	&& pHhmm  < '2000') {
		rtVal.dt = getNowDate();
		rtVal.tm = '1700';		
	}	

	if(	'2000' <= pHhmm	&& pHhmm  < '2300') {
		rtVal.dt = getNowDate();
		rtVal.tm = '2000';		
	}	

	if(	'2300' <= pHhmm	&& pHhmm  < '2400') {
		rtVal.dt = getNowDate();
		rtVal.tm = '2300';		
	}	
	
	return rtVal;
}

/**
 * 이전일자 가져오기 yyyymmdd
 * @returns {string}
 */
function getBeforeDate() {
	let today = new Date();
	let yesterday = new Date(today.setDate(today.getDate() - 1));

	let yy = yesterday.getFullYear();
	let mm = yesterday.getMonth() + 1;
	let dd = yesterday.getDate();
	if (mm < 10) mm = "0" + mm;
	if (dd < 10) dd = "0" + dd;
	let date = yy + mm + dd;	
	
	return date;
}

/**
 * 현재일자 가져오기 yyyymmdd
 * @returns {string}
 */
function getNowDate() {
	let d = new Date();
	let yy = d.getFullYear();
	let mm = d.getMonth() + 1;
	let dd = d.getDate();
	if (mm < 10) mm = "0" + mm;
	if (dd < 10) dd = "0" + dd;
	let date = yy +""+ mm +""+ dd;

	return date;
}	
	
/**
  * 현재 시간 분을 가져오기 (hhmm)
  */
function getTime() {
	let d = new Date();   
	
	let hours = d.getHours(); // 시
	let minutes = d.getMinutes();  // 분
	//let seconds = d.getSeconds();  // 초
	//let milliseconds = d.getMilliseconds(); // 밀리초
	
	if(	hours < 10) hours = "0" + hours;
	if(minutes < 10) minutes = "0" + minutes;
	
	let hhmm = hours +""+ minutes;
	return	hhmm; 
}

</script>
